// @tailwind base;
// @tailwind components;
// @tailwind utilities;

//widths

$littlePC: 1280px;
$tablet: 768px;
$phone: 320px;

//colors
$orange-50: rgb(254 215 170);
$orange-100: rgb(255 237 213);
$orange-200: rgb(254 215 170);
$orange-300: rgb(253 186 116);
$orange-400: rgb(251 146 60);
$orange-500: rgb(249 115 22);
$orange-600: rgb(234 88 12);
$orange-700: rgb(194 65 12);
$orange-800: rgb(154 52 18);
$orange-900: rgb(124 45 18);

body {
  display: flex;
  justify-content: center;
}
#root {
}
//PC
.App {
  max-width: 1280px;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  color: $orange-700;

  .navbar-container {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 32px;
    background-color: white;
    border-bottom: 4px solid black;
    z-index: 50;
    .navbar-container__logo {
      margin: 0;
      color: inherit;
      font-size: xx-large;
    }
    .navbar-container__search {
      margin: 0 15px;
      width: 100%;
    }

    .navbar-container-buttons {
      display: flex;
      flex-direction: row;
    }

    .navbar-container-menu {
      display: none;
      .navbar-container-buttons__button {
        width: 50px;
        height: 50px;
        padding: 0;
        font-size: 25px;
      }
    }
  }
  .footer-container {
    height: 100px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 56px;

    .footer-container__left {
      display: flex;
      flex-direction: row;
      // padding: 25px 0;
    }
  }
  .layout {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    .layout-sider {
      width: 240px;
      background-color: aqua;
      ul {
        padding-left: 0px;
        li {
          position: relative;
          list-style: none;
          .dropdown-genres {
            position: absolute;
            left: 250px;
            top: 0px;
          }
        }
      }
    }
    .layout-content {
      width: 100%;
      max-width: 1040px;
    }
  }

  .marry-go-round {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 56px 14px;
    gap: 14px;
    ::-webkit-scrollbar {
      width: 5px; /* width of the entire scrollbar */
    }
    ::-webkit-scrollbar-track {
      background: $orange-50; /* color of the tracking area */
    }
    ::-webkit-scrollbar-thumb {
      background-color: $orange-600; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      // border: 3px solid orange; /* creates padding around scroll thumb */
    }
    .marry-go-round__list {
      max-width: 100%;
      min-width: 320px;
      white-space: nowrap;
      overflow-x: scroll;
      scrollbar-width: thin; /* "auto" or "thin" */
      scrollbar-color: $orange-700 $orange-50;

      .marry-go-round__list__item {
        width: 128px;
        height: 190px;
        display: inline-block;
        background-color: azure;
      }
      .marry-go-round__list__item:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  .anime-list-container {
    min-width: 320px;
    max-width: 100%;
    padding: 0 56px;
    display: flex;
    flex-direction: column;
    .anime-list-item {
      height: 80px;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      border-bottom: 2px solid black;
      .anime-list-item__coverImage {
        position: relative;
        top: -50%;
      }
      .anime-list-item-description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 25px;
      }
    }
  }
}
//Little PC
@media (max-width: $littlePC) {
  .App {
    max-width: $littlePC;

    .navbar-container {
      .navbar-container__logo {
        font-size: calc(32px + 5 * (100vw - $littlePC) / (1280 - 768));
      }
    }

    .layout {
      .layout-sider {
        display: none;
      }
      .layout-content {
      }
    }

    .marry-go-round {
      padding: 32px 44px 14px;

      .marry-go-round__list {
        .marry-go-round__list__item {
          margin-right: 10px;
        }
      }
    }
    .footer {
      height: 150px;
    }
  }
}
//Tablet
@media (max-width: 768px) {
  .App {
    position: absolute;

    .navbar-container {
      height: 145px;

      .navbar-container__logo {
        font-size: 26px;
      }
      .navbar-container__search {
        display: none;
      }
      .navbar-container-buttons {
        display: none;
      }
      .navbar-container-menu {
        display: block;
      }
    }

    .layout {
      .layout-content {
      }
    }

    .marry-go-round {
      padding: 32px 0 14px;
      .marry-go-round__list {
        .marry-go-round__list__item:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}
//Phone
@media (max-width: 320px) {
  .App {
    position: absolute;
    .navbar-container {
      width: 320px;
      height: 145px;
      gap: 0px;
    }
    .marry-go-round {
      width: 320px;
      padding: 32px 0 14px;
      align-items: baseline;
    }
    .anime-list-container {
      padding: 0px;
      .anime-list-item {
        .anime-list-item-description {
          font-size: 10px;
          line-height: 10px;
          // flex-direction: row;
          .anime-list-item-description__date {
            display: none;
          }
        }
      }
    }
  }
}
