@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
}
#root {
}
//PC
.App {
  max-width: 1280px;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  color: rgb(181, 67, 2);
  background-color: pink;
  .navbar__divider {
    height: 80px;
  }
  .navbar-container {
    height: 80px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding: 5px 32px;
    border-bottom: 4px solid black;
    background-color: aqua;
    z-index: 50;
    .navbar-container-buttons {
      display: flex;
      flex-direction: row;
    }
  }
  .footer-container {
    height: 100px;
    min-width: 320px;
    padding: 25px 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer-container__left {
      display: flex;
      flex-direction: row;
      // padding: 25px 0;
    }
  }
  .layout {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    .layout-sider {
      width: 240px;
      background-color: aqua;
    }
    .layout-content {
      width: 100%;
      max-width: 1040px;
    }
  }

  .marry-go-round {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 56px 14px;
    gap: 14px;
    ::-webkit-scrollbar {
      width: 12px; /* width of the entire scrollbar */
    }
    ::-webkit-scrollbar-track {
      background: orange; /* color of the tracking area */
    }
    ::-webkit-scrollbar-thumb {
      background-color: blue; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 3px solid orange; /* creates padding around scroll thumb */
    }
    .marry-go-round__list {
      max-width: 100%;
      min-width: 320px;
      white-space: nowrap;
      overflow-x: scroll;
      scrollbar-width: thin; /* "auto" or "thin" */
      scrollbar-color: blue orange;

      .marry-go-round__list__item {
        width: 128px;
        height: 190px;
        display: inline-block;
        background-color: azure;
      }
      .marry-go-round__list__item:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  .anime-list-container {
    min-width: 320px;
    max-width: 100%;
    padding: 0 56px;
    display: flex;
    flex-direction: column;
    .anime-list-item {
      height: 80px;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      border-bottom: 2px solid black;
      .anime-list-item__coverImage {
        position: relative;
        top: -50%;
      }
      .anime-list-item-description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 25px;
      }
    }
  }
}
//Little PC
@media (max-width: 1024px) {
  .App {
    max-width: 1024px;

    .navbar-container {
      background-color: red;
    }

    .layout {
      .layout-sider {
        display: none;
      }
      .layout-content {
      }
    }

    .marry-go-round {
      padding: 32px 44px 14px;

      .marry-go-round__list {
        .marry-go-round__list__item {
          margin-right: 10px;
        }
      }
    }
    .footer {
      height: 150px;
    }
  }
}
//Tablet
@media (max-width: 768px) {
  .App {
    min-width: 320px;
    .navbar__divider {
      height: 145px;
    }
    .navbar-container {
      height: 145px;
      background-color: green;
    }

    .layout {
      .layout-content {
      }
    }

    .marry-go-round {
      padding: 32px 31px 14px;
    }
  }
}
//Phone
@media (max-width: 320px) {
  .App {
    min-width: 320px;
    .navbar-container {
      height: 145px;
      background-color: orange;
    }
  }
}
